In [12]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv(r'C:\Users\student\Desktop\2019빅콘테스트_챔피언스리그/train_payment.csv', encoding = 'UTF-8')

In [8]:
test = df[:500]

In [27]:
n = len(test.columns)

In [28]:
np.zeros((n,n))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [29]:
test.corr()

                   day    acc_id  amount_spent
day           1.000000 -0.021356     -0.034806
acc_id       -0.021356  1.000000     -0.071467
amount_spent -0.034806 -0.071467      1.000000