<a href="https://colab.research.google.com/github/fininsight/text-mining-tutorial/blob/master/99_%EA%B8%B0%ED%83%80%EC%BD%94%EB%93%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 국내 주식 수정주가 조회

## 1) 네이버 차트를 활용한 수정주가 수집

In [48]:
import requests
import pandas as pd
import xml.etree.ElementTree as ET

In [49]:
def getStockPrice(StockCode, Count = 500) :
    ret = pd.DataFrame(columns=['date','close'])
    
    url = "https://fchart.stock.naver.com/sise.nhn?symbol={}&timeframe=day&count={}&requestType=0"
    url = url.format(StockCode, Count)
    response = requests.get(url)
    e = ET.fromstring(response.text.replace('\n','').replace('\t',''))
    stock_history = []
    for item in e.find('chartdata').findall('item') :
        close = [item.get('data').split('|')[0], item.get('data').split('|')[4]]
#         print(data)
        ret.loc[len(ret)] = close
        
    return ret

In [50]:
aa = getStockPrice('005930')

In [53]:
aa.head()

       date  close
0  20170619  46560
1  20170620  48140
2  20170621  47480
3  20170622  47960
4  20170623  47620

## 2) Yahoo finance를 활용한 수정주가 조회

In [0]:
# yahoo 데이터 2/2 ~ 5/14 데이터 없음. 실제 사이트에도 없음
import pandas as pd
import numpy as np
import datetime
from pandas_datareader import data

start_date = '2019-01-02'
end_date='2019-05-17'
df=data.get_data_yahoo('005930.KS', start_date ,end_date)
df.tail()