<a href="https://colab.research.google.com/github/fininsight/text-mining-tutorial/blob/master/99_%EA%B8%B0%ED%83%80%EC%BD%94%EB%93%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 국내 주식 수정주가 조회

## 1) 네이버 차트를 활용한 수정주가 수집

In [0]:
import requests
import pandas as pd
import xml.etree.ElementTree as ET

In [0]:
def getStockPrice(StockCode, Count = 500) :
    ret = pd.DataFrame(columns=['date', 'open', 'high', 'low', 'close','volumn'])
    
    url = "https://fchart.stock.naver.com/sise.nhn?symbol={}&timeframe=day&count={}&requestType=0"
    url = url.format(StockCode, Count)
    response = requests.get(url)
    
    e = ET.fromstring(response.text.replace('\n','').replace('\t',''))
    
    stock_history = []
    for item in e.find('chartdata').findall('item') :
        data = item.get('data').split('|')
        ret.loc[len(ret)] = data
        
    return ret

In [0]:
aa = getStockPrice('005930')

In [0]:
aa.tail()

         date   open   high    low  close    volumn
495  20190513  42500  43200  42350  42650   7635079
496  20190514  41300  43100  41300  42650  11563730
497  20190515  42700  43050  42550  42550   7670185
498  20190516  42350  42400  41350  41550  13687828
499  20190517  41950  42050  40850  41200  12294470

## 2) Yahoo finance를 활용한 수정주가 조회

In [0]:
# yahoo 데이터 2/2 ~ 5/14 데이터 없음. 실제 사이트에도 없음
import pandas as pd
import numpy as np
import datetime
from pandas_datareader import data

start_date = '2019-01-02'
end_date='2019-05-17'
df=data.get_data_yahoo('005930.KS', start_date ,end_date)
df.tail()