In [2]:
import pandas as pd
from urllib.request import urlopen
import json

# https://finance.naver.com/world/worldDayListJson.nhn?symbol=SPI@SPX&fdtc=0&page=2
symbol = 'SPI@SPX'
page = 1
url= 'https://finance.naver.com/world/worldDayListJson.nhn?symbol='+symbol+'&fdtc=0&page='+str(page)
raw = urlopen(url)
data = json.load(raw)

In [3]:
data[0]

{'symb': 'SPI@SPX',
 'xymd': '20190702',
 'open': 2964.66,
 'high': 2973.21,
 'low': 2955.92,
 'clos': 2973.01,
 'diff': 8.68,
 'rate': 0.29,
 'gvol': 1656797090}

In [4]:
data[0]['xymd']

'20190702'

In [5]:
data[0]['clos']

2973.01

In [6]:
d = dict()
for n in range(len(data)):
    date = pd.to_datetime(data[n]['xymd']).date()
    price = float(data[n]['clos'])
    d[date]=price
print(d)

{datetime.date(2019, 7, 2): 2973.01, datetime.date(2019, 7, 1): 2964.33, datetime.date(2019, 6, 28): 2941.76, datetime.date(2019, 6, 27): 2924.92, datetime.date(2019, 6, 26): 2913.78, datetime.date(2019, 6, 25): 2917.38, datetime.date(2019, 6, 24): 2945.35, datetime.date(2019, 6, 21): 2950.46, datetime.date(2019, 6, 20): 2954.18, datetime.date(2019, 6, 19): 2926.46}

In [7]:
def read_json(d, symbol, page=1):
    url= 'https://finance.naver.com/world/worldDayListJson.nhn?symbol='+symbol+'&fdtc=0&page='+str(page)
    raw = urlopen(url)
    data = json.load(raw)
    
    for n in range(len(data)):
        date = pd.to_datetime(data[n]['xymd']).date()
        price = float(data[n]['clos'])
        d[date]=price
        
    if len(data) ==10:
        page +=1
        read_json(d, symbol, page)
    
    return(d)

In [11]:
historical_index = pd.Series()
historical_index = read_json(historical_index, symbol, page)

In [12]:
historical_index.head(3)

2019-07-02    2973.01
2019-07-01    2964.33
2019-06-28    2941.76
dtype: float64

In [13]:
indices = {
    'SPI@SPX' : 'S&P 500',
    'NAS@IXIC' : 'Nasdaq 100',
    'NII@NI225' : 'Nikkei 225'
}

In [14]:
historical_indices = dict()
for key, value in indices.items():
    print(key, value)
    s = dict()
    s = read_json(s, key, 1)
    historical_indices[value] = s
prices_df = pd.DataFrame(historical_indices)

SPI@SPX S&P 500
NAS@IXIC Nasdaq 100
NII@NI225 Nikkei 225

In [15]:
prices_df.tail(3)

            S&P 500  Nasdaq 100  Nikkei 225
2019-06-28  2941.76     8006.24    21275.92
2019-07-01  2964.33     8091.16    21729.97
2019-07-02  2973.01     8109.09    21754.27

In [16]:
def date_format(d=''):
    if d != '':
        this_date = pd.to_datetime(d).date
    else:
        this_date = pd.Timestamp.today().date()
    return(this_date)

In [ ]:
def index_global(d, symbol, start_date='', end_date='', page=1):
    end_date = date_format(end_date)
    if start_date =='':
        start_date = end_date - pd.DateOffset(months=1)
    start_date = date_format(start_date)
    url= 'https://finance.naver.com/world/worldDayListJson.nhn?symbol='+symbol+'&fdtc=0&page='+str(page)
    raw = urlopen(url)
    data = json.load(raw)
    
    if len(data) > 0:
        for n in range(len(data)):
            date = pd.to_datetime(data[n]['xymd']).date()
            
            if date <= end_date and date >= start_date: