# Bag Of Words

In [25]:
sentence_ls = [
'오늘 동물원에서 코끼리를 봤어',
'오늘 동물원에서 원숭이에게 사과를 줬어'
]

In [26]:
sentence_ls = [sentence.split() for sentence in sentence_ls]

In [27]:
sentence_ls

[['오늘', '동물원에서', '코끼리를', '봤어'], ['오늘', '동물원에서', '원숭이에게', '사과를', '줬어']]

In [28]:
from collections import defaultdict

token_dict = defaultdict(lambda : len(token_dict))

for sentence in sentence_ls:
    for token in sentence:
        token_dict[token]

In [29]:
token_dict

defaultdict(<function __main__.<lambda>()>,
            {'오늘': 0,
             '동물원에서': 1,
             '코끼리를': 2,
             '봤어': 3,
             '원숭이에게': 4,
             '사과를': 5,
             '줬어': 6})

In [30]:
index_token_ls = sorted((value, key) for key, value in token_dict.items())
index_token_ls

[(0, '오늘'),
 (1, '동물원에서'),
 (2, '코끼리를'),
 (3, '봤어'),
 (4, '원숭이에게'),
 (5, '사과를'),
 (6, '줬어')]

In [31]:
token_in_order = [tup[1] for tup in index_token_ls]
token_in_order

['오늘', '동물원에서', '코끼리를', '봤어', '원숭이에게', '사과를', '줬어']

In [32]:
import pandas as pd
import numpy as np

In [33]:
n_words = len(token_dict)
n_sentence = len(sentence_ls)

BOW = pd.DataFrame(
np.zeros((n_sentence, n_words)),
columns = token_in_order,
index = ['문장1', '문장2'],
dtype = int)

BOW

     오늘  동물원에서  코끼리를  봤어  원숭이에게  사과를  줬어
문장1   0      0     0   0      0    0   0
문장2   0      0     0   0      0    0   0

In [34]:
for i, sentence in enumerate(sentence_ls):
    for token in sentence:
        token_location = token_dict[token]
        BOW.iloc[i, token_location] +=1
BOW

     오늘  동물원에서  코끼리를  봤어  원숭이에게  사과를  줬어
문장1   1      1     1   1      0    0   0
문장2   1      1     0   0      1    1   1

In [ ]:
sentence_ls = ['나는 양념 치킨을 좋아해 하지만 후라이드 치킨을 싫어해',
'나는 후라이드 치킨을 좋아해 하지만 양념 치킨을 싫어해']