In [1]:
x = 10
a, b, c = 100, 200, 300
print(x)
print(a, b, c)

10
100 200 300

In [2]:
x = 20
print(x)
print(a, b, c)

20
100 200 300

# 자료형

In [3]:
type(10)

int

In [4]:
type(3.5)

float

# 연산자

In [6]:
a = 10
b = 20

a*b

200

In [7]:
a+b

30

In [9]:
a = 2
b = 3

a**b

8

In [10]:
a**5

32

In [12]:
10//3

3

In [13]:
10%2

0

In [14]:
1+3*5

16

In [15]:
(1+3)*5

20

In [16]:
3 + 3.0

6.0

In [17]:
3/3.0

1.0

### 연습문제1

In [27]:
a = 7
b = 3.0

c = a//b
d = a%b
e = a**b

print(c)
print(d)
print(e)

2.0
1.0
343.0

In [26]:
type(c)

float

In [28]:
a = 1

In [29]:
float(a)

1.0

### 연습문제2

In [37]:
mike = 80
judy = 75
sera = 100


int((mike+judy+sera)/3)

85

In [38]:
print(10!=10)

False

In [39]:
'a'=='a'

True

In [40]:
1==int('1')

True

In [41]:
1<2 and -1>2

False

In [42]:
1<2 or -1>2

True

In [43]:
bool(a)

True

In [44]:
bool(a)
bool(b)
bool(c)

True

In [45]:
a=0

In [46]:
bool(a)

False

In [47]:
bool(a)
bool(b)

True

In [48]:
bool(a) and bool (b)

False

### 연습문제3

In [9]:
num1 = int(input("입력1: "))
num2 = int(input("입력2: "))
num3 = int(input("입력3: "))

num1>65 and num2>65 and num3>65

입력1: 66
입력2: 67
입력3: 68

True

In [3]:
print(num1)

10

# None

In [11]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

# 문자열

In [13]:
single = "안녕하세요."
print(single)
print(type(single))

안녕하세요.
<class 'str'>

In [14]:
multi = """
hi
hello
"""

print(multi)
print(type(multi))

hi
hello

<class 'str'>

In [15]:
a = 'hello'
b = 'world'

a+b

'helloworld'

In [17]:
b = '.w'

In [18]:
print('hello\nworld')

hello
world

In [19]:
print('hello\tworld')

hello	world

In [20]:
print('hello\\world')

hello\world

In [21]:
print('hello\"world')

hello"world

In [32]:
quote = '가나다라마바사!'
quote[-1]
quote[1:3:5]

'나'

In [33]:
quote[1:4]

'나다라'

In [35]:
quote[0:12:3]

'가라사'

### 문자열 서식지정자

In [44]:
name= "Atilda"
intro = "Hello, my name is %s."
print(intro %name)

Hello, my name is Atilda.

In [51]:
age =12
intro2 = "Hello, I'm %d years old." 
print(intro2 %age)

Hello, I'm 12 years old.

In [53]:
height = 178.239
intro3 = "안녕하세요, 나의 키는 %.1fcm입니다." %height
print(intro3)

안녕하세요, 나의 키는 178.2cm입니다.

In [57]:
name = "Atilda"
intro0 = "hello! "
intro1 = "My name is %s."
print(intro0+intro1%name)

hello! My name is Atilda.

In [59]:
quote = "안녕하세요. 저는 %s 이고, 키는 %s입니다." %('고원희', '178')
quote

'안녕하세요. 저는 고원희 이고, 키는 178입니다.'

In [70]:
quote = "안녕하세요. 저는 {0:^10}이고 키는 {1:>10}입니다.".format("고원희", "180cm")
quote

'안녕하세요. 저는    고원희    이고 키는      180cm입니다.'

In [71]:
name = "Atilda"
loc = "Seoul"

intro = f"My name is {name}, and I live in {loc}"
print(intro0+intro)

hello! My name is Atilda, and I live in Seoul

### 연습문제4

In [166]:
a= "20190505chicken19000"

yy = a[0:4]
year = yy+"년"
mm = a[4:6]
month = mm+"월"
dd = a[6:8]
day = dd+"일"
menu = a[8:15]
monn = a[-5:]
money = money+"원"
print(year, month, day, menu, money, sep=", ")

2019년, 05월, 05일, chicken, 19000원

### 연습문제5

In [89]:
a= "90:30:80"
math = a[0:2]
eng = a[3:5]
sci = a[6:]

average = (int(math) + int(eng) + int(sci)) / 3
print(average)

66.66666666666667

# 문자열 함수

In [92]:
quote = "my best career partner"
len(quote)

quote2 = "hello"
b= len(quote2)
print(b)

5

In [96]:
quote2.index('l')

2

In [98]:
upper_quote = quote.upper()
upper_quote

'MY BEST CAREER PARTNER'

In [99]:
upper_quote.lower()

'my best career partner'

In [100]:
quote2.replace('he','hi')

'hillo'

In [112]:
quote2 = "hellohear"

In [113]:
quote2.replace('he','hi')

'hillohiar'

In [105]:
quote

'my best career partner'

In [111]:
quote.count('ar')

2

In [114]:
quote

'my best career partner'

In [116]:
quote = "   " + quote
quote

'      my best career partner'

In [119]:
quote.strip()

'my best career partner'

In [122]:
fruits = "pear, apple, grape, mango, watermelon"
f_list = fruits.split(',')
print(f_list)

['pear', ' apple', ' grape', ' mango', ' watermelon']

In [123]:
type(f_list)

list

In [124]:
f_list[0]

'pear'

In [125]:
len(f_list)

5

In [130]:
",".join(f_list)

'pear, apple, grape, mango, watermelon'

### 연습문제6

In [148]:
a="  90:30:80  "
math, eng, sci = a.split(":")

average= ((int(math)+int(eng)+int(sci))/3)
print(average)

66.66666666666667

In [161]:
a="  90:30:80  "
a.strip()
s_list= a.split(":")

average = (int(s_list[0])+int(s_list[1])+int(s_list[2]))/len(s_list)
print(average)

66.66666666666667

In [172]:
a = [1, 2, 3, 'a', 'b', 'c']
type(a)

list

In [187]:
tuple_a = (1,2,3, 'a','b', 'c')
len(tuple_a)

6

In [174]:
a[0] = 0
a

[0, 2, 3, 'a', 'b', 'c']

In [186]:
dict_me= {
    'name': 'atilda',
    'height': 178,
    'address': 'Seoul',
}
dict_me
len(dict_me)

3

In [181]:
dict_me['name']

'atilda'

In [185]:
a= "가나다라마바사"
a[13::-1]

'사바마라다나가'

In [188]:
a = [1, 2, 3, 4]
b = (1,2,3,4)
print(a[2])
print(b[1])

3
2

## range

In [189]:
range(10)

range(0, 10)

In [190]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [191]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [193]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [194]:
list(range(2,10,2))

[2, 4, 6, 8]

### 리스트

In [195]:
list1= ['a','b','c','d']
list1[3]

'd'

In [196]:
list1[:2]

['a', 'b']

In [198]:
list1[1:3] = [1,2]
list1

['a', 1, 2, 'd']

In [199]:
list1

['a', 1, 2, 'd']

In [200]:
del list1[1]
list1

['a', 2, 'd']

In [201]:
a= ['a','b','c']
a*3

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [202]:
b=['d', 'e', 'f']
a+b

['a', 'b', 'c', 'd', 'e', 'f']

In [205]:
len(a+b)

6

In [206]:
'd' in b

True

In [207]:
empty_list=[]
empty_list.append(1)
empty_list

[1]

In [210]:
empty_list.append(3)
empty_list

[1, 3]

In [211]:
num= empty_list.pop()

In [212]:
num

3

In [217]:
empty_list.extend(['a', 'b', 'c'])
empty_list

[1, 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [219]:
a.insert(3,100)
a

[1, 100, 100]

In [220]:
a= [1,1000, 'b', 'c', 'a']

In [221]:
a.index('c')

3

In [222]:
a = [1,2,2,3,3,3]
a.count(1)
a.count(2)

2

In [224]:
a.reverse()
a

[1, 2, 2, 3, 3, 3]

In [225]:
sort_list=[3,1,5,2,88,12]
sort_list.sort()

In [226]:
sort_list

[1, 2, 3, 5, 12, 88]

In [227]:
sort_list.sort(reverse=True)

In [228]:
sort_list

[88, 12, 5, 3, 2, 1]

In [229]:
a=10
b=a
b

10

In [230]:
b = b+1
print(a)
print(b)

10
11

In [231]:
list_a = [1,2,3,4]
list_b = list_a

In [232]:
list_b[2] =5
list_b

[1, 2, 5, 4]

In [233]:
list_a

[1, 2, 5, 4]

 ### 해결책

In [234]:
list_a=[1,2,3,4]
list_a

[1, 2, 3, 4]

In [235]:
list_b=list_a.copy()
list_b

[1, 2, 3, 4]

In [236]:
list_b[2]=5
print(list_a)
print(list_b)

[1, 2, 3, 4]
[1, 2, 5, 4]

### 다차원 리스트

In [237]:
dim2l= [[1,2],[3,4]]
dim2l

[[1, 2], [3, 4]]

In [238]:
len(dim2l)

2

In [246]:
dim2l[0]
dim2l[1][0]

3

In [241]:
import copy
dim2_bl= copy.deepcopy(dim2l)
dim2_bl

[[1, 2], [3, 4]]

In [244]:
a=[1,2]
b=tuple(a)
c=list(b)
c.append(1)
c

[1, 2, 1]

In [245]:
print(a)

[1, 2]

## 딕셔너리

#### 딕셔너리 만드는 첫번째 방법

In [247]:
a={
    'name': 'Tom',
    'english': 80,
    'math': 99
}
print(a)

{'name': 'Tom', 'english': 80, 'math': 99}

In [248]:
type(a)

dict

#### 딕셔너리 만드는 두번째 방법

In [250]:
b = dict(name='Tom',
        english=80,
        math=99)
b

{'name': 'Tom', 'english': 80, 'math': 99}

In [251]:
len(b)

3

In [252]:
"name" in a

True

In [262]:
b = dict(name='Tom',
         score={
             'math': 80,
             'english': 99
         }
        )
b

{'name': 'Tom', 'score': {'math': 80, 'english': 99}}

In [263]:
b['score']['science']=100
b

{'name': 'Tom', 'score': {'math': 80, 'english': 99, 'science': 100}}