# 기본 자료형
## 집합(set)

In [3]:
s1 = set([1,2,3])
print(s1)
print(type(s1))

{1, 2, 3}
<class 'set'>

In [4]:
a= {}
type(a)

dict

In [6]:
a= {1,2,3,3,3}
type(a)

set

In [7]:
l1=[1,2,3,3,3]
l1

[1, 2, 3, 3, 3]

In [9]:
l2= list(set(l1))
l2

[1, 2, 3]

### 집합의 연산

In [10]:
s1={1,2,3}
s2={2,4,5}

In [15]:
#교집합
print(s1 & s2)
print(s1.intersection(s2))
print(s2.intersection(s1))

{2}
{2}
{2}

In [17]:
#합집합
print(s1 | s2)
print(s1.union(s2))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [18]:
#차집합
print(s1-s2)
print(s1.difference(s2))

{1, 3}
{1, 3}

In [19]:
print (s2-s1)

{4, 5}

In [22]:
#대칭차집합
s1^s2
s1.symmetric_difference(s2)

{1, 3, 4, 5}

In [23]:
s1={1,2,3}
s2={0,1,2,3,4,5}

In [24]:
s1<=s2

True

In [25]:
s1>=s2

False

In [28]:
s1.issuperset(s2)

False

In [30]:
s1.issubset(s2)

True

In [32]:
s1={1,2,3}
s2={4,5,6}

s1.isdisjoint(s2)

True

In [37]:
s1.add(5)
s1

{1, 3, 5}

In [39]:
#요소 제거
s1.remove(3)
s1

{1, 5}

In [41]:
s1.discard(1)
s1

set()

# 제어문
## 조건문 if

In [44]:
x=10
if x==10:
    print("x가 10입니다")
# 콜룬(:)으로 블록 구분

x가 10입니다

In [45]:
x=10
if x==10:
    pass

In [46]:
#비교 연산자와 bool 연산자를 이용해 if 문 구성 가능

In [47]:
str_1 = "Life is too short"
if str_1:
    print("실행 되었습니다.")

실행 되었습니다.

In [49]:
l1=[]
if l1:
    print('비었네?')
if not l1:
    print('비었어요')

비었어요

In [53]:
if None:
    print("이건 None이에요")
#if 뒤어 어떤 것도 bool 형이 True 이면 실행, False이면 실행하지 않음

In [54]:
if type(str_1)== type(str()):
    print('실행되었습니다')

실행되었습니다

In [57]:
#if 가 실행되면 뒤에 elif는 다 건너뛴다

### 연습문제1

In [83]:
a= int(input("점수1: "))
b= int(input("점수2: "))
c= int(input("점수3: "))

점수1: 100
점수2: 152
점수3: 5

In [87]:
if a not in list(range(101)) or b not in list(range(101)) or c not in list(range(101)):
    print("잘못된 값을 입력했습니다.")
elif a>=65 and b>=65 and c>=65:
    print("합격")
else:
    print("불합격")

잘못된 값을 입력했습니다.

### 연습문제2

In [95]:
a= int(input("정수를 입력해주세요: "))

정수를 입력해주세요: 0

In [96]:
if a==0:
    print("0은 정의되지 않습니다.")
elif a%2==0:
    print("입력하신 %s는 짝수입니다"%a)
else:
    print("입력하신 %s는 홀수입니다"%a)

0은 정의되지 않습니다.

## 반복문 for

#### iterator(list, tuple, set, dict(->key값), str 등 item이 하나 이상인 것)에 사용 가능

In [103]:
for i in "Ornage":
    print(i, end="")

Ornage

### 연습문제1-(1)

In [108]:
a= int(input("정수를 입력해주세요: "))

for i in range(a):
    print("안녕")

정수를 입력해주세요: 5
안녕
안녕
안녕
안녕
안녕

In [107]:
print("안녕\n"*a)

안녕
안녕
안녕
안녕
안녕

### 연습문제1-(2)

In [6]:
a= int(input("정수를 입력해주세요: "))

정수를 입력해주세요: 5

In [7]:
for i in range(1, a+1):
    print("*"*(i))

*
**
***
****
*****

In [8]:
for i in range(a):
    print("*"*(i+1))

*
**
***
****
*****

In [28]:
for i in range(a,0,-1):
    print("*"*(i))

*****
****
***
**
*

### 연습문제2

#### 연습문제2-(1)

In [61]:
x=[3,6,9,20,-7,5]
for i in x:
    print(i*10)

30
60
90
200
-70
50

In [75]:
#심화 x는 리스트임에 반해, i는 주소값이 아닌 값 자체를 대입하는 것. 따라서 i에 어떤 짓을 하든 x에는 영향을 미치지 않는다.
#따라서 x의 값 자체를 바꾸기 위해서는 x의 index에 접근해야 한다.
#enumerate는 tuple(인덱스, 값)의 순서쌍으로 이루어진 리스트


x=[3,6,9,20,-7,5]
for idx, val in enumerate(x):
    x[idx] *=10
print(x)

[30, 60, 90, 200, -70, 50]

In [ ]:
a=[3,5,7]
for i in enumerate(a) #[(0,3),(1,5),(2,7)]
        #idx=i[0]
        #idx,var=i

In [97]:
x=[3,6,9,20,-7,5]
for i in range(len(x)):
    x[i]*=10
x

[30, 60, 90, 200, -70, 50]

#### 연습문제2-(2)

In [112]:
y={
    "math":70,
    "sci":80,
    "eng":20
}
for i in y:
    print(y[i]+10)
print(y)

80
90
30
{'math': 70, 'sci': 80, 'eng': 20}

In [111]:
#심화
y={
    "math":70,
    "sci":80,
    "eng":20
}
for i in y:
    y[i]+=10
    print(y[i])
print(y)

80
90
30
{'math': 80, 'sci': 90, 'eng': 30}

#### 연습문제2-(3)

In [26]:
num= int(input("1부터 9 사이의 숫자를 입력하세요 : "))

1부터 9 사이의 숫자를 입력하세요 : 5

In [106]:
if num in range (1,10) :
    for i in range(1,10):
        print(num,"*",i,"=",num*i)
else:
    print("숫자를 다시 입력해주세요")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [109]:
if num in range (1,10) :
    for i in range(1,10):
        print("{0}*{1}=".format(num,i), num*i)
else:
    print("숫자를 다시 입력해주세요")

5*1= 5
5*2= 10
5*3= 15
5*4= 20
5*5= 25
5*6= 30
5*7= 35
5*8= 40
5*9= 45

In [142]:
if num in range (1,10) :
    for i in range(1,10):
        print("{0}*{1}={2}".format(num,i,num*i))
else:
    print("숫자를 다시 입력해주세요")

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45

In [146]:
if num in range (1,10) :
    for i in range(1,10):
        print(f'{num}*{i}={num*i}')
else:
    print("숫자를 다시 입력해주세요")

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45

#### 연습문제3-(1)

In [177]:
word=["school","game","piano","science","hotel","mountian"]
lst=[]
for i in word:
    if len(i)>=6:
        lst.append(i)
      
print(lst)

['school', 'science', 'mountian']

In [181]:
#윤석님 코드
word=["school","game","piano","science","hotel","mountian"]
new_word= word.copy()

for x in word:
    if len(x)<6:
        new_word.remove(x)
        
new_word

['school', 'science', 'mountian']

In [182]:
#sol2
word=["school","game","piano","science","hotel","mountian"]
lst=[]
for i in word:
    if len(i)>=6:
        lst.extend([i])
      
print(lst)

['school', 'science', 'mountian']

In [184]:
#sol3
word=["school","game","piano","science","hotel","mountian"]
lst=[]
for i in word:
    if len(i)>=6:
        lst+=[i]
      
print(lst)

['school', 'science', 'mountian']

In [185]:
'__iter__' in dir(word)

True

#### 연습문제3-(2)

In [191]:
for x in range (1,10) :
    print('-'*10,"%s단 시작"%x)
    for y in range(1,10):
        print(f'{x}*{y}={x*y}')
    print('-'*10,"%s단 끝"%x)

---------- 1단 시작
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
---------- 1단 끝
---------- 2단 시작
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
---------- 2단 끝
---------- 3단 시작
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
---------- 3단 끝
---------- 4단 시작
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
---------- 4단 끝
---------- 5단 시작
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
---------- 5단 끝
---------- 6단 시작
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
---------- 6단 끝
---------- 7단 시작
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
---------- 7단 끝
---------- 8단 시작
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
---------- 8단 끝
---------- 9단 시작
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
---------- 9단 끝

#### 연습문제4

In [238]:
lst35=[]
lst3=[]
lst5=[]
lst_le=[]
for i in range(1,101):
    if i%3==0 and i%5==0:
        lst35.append(i)

    elif i%3==0:
        lst3.append(i)
    elif i%5==0:
        lst5.append(i)
    else:
        lst_le.append(i)
        
print(lst35, lst3, lst5, lst_le)

[15, 30, 45, 60, 75, 90] [3, 6, 9, 12, 18, 21, 24, 27, 33, 36, 39, 42, 48, 51, 54, 57, 63, 66, 69, 72, 78, 81, 84, 87, 93, 96, 99] [5, 10, 20, 25, 35, 40, 50, 55, 65, 70, 80, 85, 95, 100] [1, 2, 4, 7, 8, 11, 13, 14, 16, 17, 19, 22, 23, 26, 28, 29, 31, 32, 34, 37, 38, 41, 43, 44, 46, 47, 49, 52, 53, 56, 58, 59, 61, 62, 64, 67, 68, 71, 73, 74, 76, 77, 79, 82, 83, 86, 88, 89, 91, 92, 94, 97, 98]

In [240]:
num= int(input("정수를 입력하세요:"))

정수를 입력하세요:20

In [242]:
set3=set()
set5=set()

for i in range(1, num+1):
    if i%3==0 or i%5==0:
        if i%3==0:
            set3=set3 | {i}
        if i%5==0:
            set5=set5 | {i}
    else:
        print(i)

print("3과 5의 공배수: ",set3&set5)
print("3의 배수: ",set3-set5)
print("5의 배수: ",set5-set3)

1
2
4
7
8
11
13
14
16
17
19
3과 5의 공배수:  {15}
3의 배수:  {3, 6, 9, 12, 18}
5의 배수:  {10, 20, 5}